@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#home{
    
    display: grid;
    grid-template-areas:
        "b . .  a"
        "b . .  ."
        "b . .  .";
   
}
#texto-esquerda img{
    width: 70%;
    height: 100vh;
    object-fit: cover;
    opacity: .8;
    position: absolute;
    justify-content: left;
    align-items: left;
    height: 100vh;
}

#texto-esquerda{
    width: 70%;
    height: 100vh;
    display: flex;
    grid-area: b;
    justify-content: left;
    align-items: center;
}

p{
    font-size: 50px;
    position: relative;
    font-family: 'Open Sans';
    color: rgb(0, 0, 0);
    padding-left: 6em;
    padding-top: 1em;
    text-align: justify;
    
}

 h1{
    font-family: 'Open Sans', sans-serif;
    position: relative;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 120px;
    font-weight: 700;
    padding-left: 3em;
    
   
    
}
#foto{
    width:800px;
    height: 100vh;
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right:60em;
}
#foto img{
  
    height: 70vh;
}






.footer{
    background-color:  rgb(7, 168, 168);
    display: flex;
    align-items: right;
    justify-content: end;
    bottom: 0;
    position: fixed;
    width: 100%;
    
}
#botao{
    padding: 1em;
    height: 250px;
    width: 250x;

}
