@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;   


   
}
#quadrado-1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}
#quadrado-2{

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}


p{
    font-size: 18px;
    font-family: 'Open Sans';
    color: rgb(0, 0, 0);
    text-align: justify;
    padding: 2em;

}
.mini1{
    height: 300px;
    width: 300px;
    display: flex;
    grid-column-start: 1;
    grid-row-start:1;
   

}
.mini2{
    background-color: #0096BB;
    height: 300px;
    width: 300px;
    display: flex;
    grid-column-start:2;
    grid-row-start:1;
   

}
.mini3{
    background-color:#0096BB;
    height: 300px;
    width: 300px;
    display: flex;
    grid-column-start:1;
    grid-row-start:2;
  
}
.mini4{
    height: 300px;
    width: 300px;
    display: flex;
    grid-column-start:2;
    grid-row-start:2;
}

h1{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding: 1em;

}
.mini1 img{
    height: 300px;
    width: 300px;
}

.numero{
    width: 25px;
    height: 25px;
}



.footer{
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    justify-content:space-between;
    align-items:flex-end;
    
}


.footer{
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    justify-content:space-between;
    align-items:flex-end;
    
}
.botoes{
    width: 200px;
    height: auto;
    padding: 30px;
}

.botoes:hover{
    scale: 1.1;
    transition: .3s;
}
