@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#home{
    
    display: grid;
    grid-template-areas:
        "b . .  a"
        "b . .  a"
        "b . .  a"
}
p{
    font-size: 25px;
    position: relative;
    font-family: 'Open Sans';
    color: rgb(0, 0, 0);
    padding-left: 4em;
    text-align: justify;
}

 
h1{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    text-align: left;
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding-left: 3em;
    padding-bottom: 1em;

}
#texto-esquerda{
    background-color: #0096BB;
    width:100%;
    height: 100vh;
    display: flex;
    grid-area: b;
    justify-content: left;
    align-items: center;
}
#texto-direita{
    display: flex;
    grid-area: a;
    align-items:flex-start;
    justify-content: center;
    padding: 5em;

}





















.footer{
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    justify-content:space-between;
    align-items:flex-end;
    
}
.botoes{
    width: 200px;
    height: auto;
    padding: 30px;
}

.botoes:hover{
    scale: 1.1;
    transition: .3s;
}
