@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#home{
    display: flex;
}

 
h1{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding-left: 2em;
    color: rgb(44, 10, 10);
    font-weight: 700;


}

#texto-esquerda{
    width:50%;
    height: 100vh;
    display:flex;
	flex-direction:column;
    justify-content: center;
    align-items: center;

}

#texto-direita{
    width:50%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;

}
#pag12{
    width:60%;
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;


}
#pag13{
    width:60%;
    height: 60vh;
    display:flex;
    justify-content: center;
    align-items: center;


}
#pag14{
    width:60%;
    height: 60vh;
    display:flex;
    justify-content: center;
    align-items: center;


}


.footer{
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    justify-content:space-between;
    align-items:flex-end;
    
}
#botao1{

    width: 130px;
    align-items: left;
    justify-content: left;
    padding-left:5em;
    padding-bottom: 3em;
}
#botao2{
    width:  130px;
    align-items: right;
    justify-content: right;
    padding-right:5em;
    padding-bottom: 3em;
}
#barra{
    height: 100px;
    width: 80%;
    padding:1em;
    
}
#botao1:hover{
    scale: 1.1;
    transition: .3s;
}
#botao2:hover{
    scale: 1.1;
    transition: .3s;
}


p{
    font-size: 20px;
    font-family: 'Open Sans';
    color: rgb(0, 0, 0);
    text-align: justify;
    padding-left: 3em;
    padding-right: 4em;
    padding-top: 1em;
}





/* RESPONSIVIDADE TELAS PEQUENAS */
@media screen and (min-width: 768px) and (max-width: 1024px){

    #home{
        flex-direction: row;
    }
    h1{
        font-size: 20px;
        
    }
    p{
        font-size: 13px;
        
    }
    
    #botao1{
        width: 150px;
        height: auto;
    }
    #botao2{
        width: 150px;
        height: auto;
    }
    #pag12{
        width:60%;
        height: 70vh;
    }
    #pag12{
        width:70%;
        height: 60vh;
    }
    #pag13{
        width:60%;
        height: 40vh;
    }
    #pag14{
        width:80%;
        height: 50vh;
    }
    
   
}

/* RESPONSIVIDADE DISPOSITIVOS MOBILE */
@media screen and (min-width: 280px) and (max-width: 480px) {
    #home{
        flex-direction: column;
    }
    #texto-esquerda{
        width: 100%;
        height: 50vh;
    }
    #texto-direita{
        width: 100%;
        height: 50vh;
    }
    h1{
        font-size: 20px;
        
    }
    p{
        font-size: 13px;
        
    }
     #botao1{
        width: 100px;
        height: auto;
    }
    #botao2{
        width: 100px;
        height: auto;
    }
    #barra{
        height: 100px;
        width: 50%;
        padding-top:2em;
    
    }
    #pag12{
        width:60%;
        height: 40vh;
    }
    #pag13{
        width:60%;
        height: 40vh;
    }
    #pag14{
        width:60%;
        height: 40vh;
    }
   
}