@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#home{
    display:flex;
	flex-direction:row;
    justify-content: center;
    align-items: center;
   
}
p{
    font-size: 25px;
    font-family: 'Open Sans';
    color: rgb(0, 0, 0);
    text-align: justify;
    padding: 3em;
}

 
h1{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 700;
    padding-bottom: 3em;
    

}
#texto-esquerda{
    background-color: #0096BB;
    width:100%;
    height: 100vh;
    display:flex;
	flex-direction:column;
    justify-content: center;
    align-items: center;

}

#texto-direita{
    width:100%;
    height: 100vh;
    display:flex;
	flex-direction:column;
    justify-content: center;
    align-items: center;

}
#texto-esquerda img{
    width:500px;
    height: 400px;
    

}
#texto-direita img{
    width:600px;
    height: 400px;
    
}




















.footer{
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    justify-content:space-between;
    align-items:flex-end;
    
}
.botoes{
    width: 200px;
    height: auto;
    padding: 30px;
}

.botoes:hover{
    scale: 1.1;
    transition: .3s;
}
