@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#home{
    
    display: grid;
    grid-template-areas:
        ". . .  a"
        ". . .  a"
        ". . .  a";
   
}
.container{
    width: 100%;
    height: 10vh;
    display: flex;


}
#foto img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
   
}
h2{
    font-size: 40px;
    font-family: 'Open Sans';
    color: black;
    text-align: left;
    padding:1em;

}
#texto{
    width: 50%;
    height: 70vh;
    grid-area: a;
 
    

}
p{
    font-size: 20px;
    position: relative;
    font-family: 'Open Sans';
    color: rgb(0, 0, 0);
    padding: 2em;
    padding-top: 1em;
    text-align: justify;
   
}

.footer{
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    justify-content:space-between;
    align-items:flex-end;
    
}


.footer{
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    justify-content:space-between;
    align-items:flex-end;
    
}
.botoes{
    width: 200px;
    height: auto;
    padding: 30px;
}

.botoes:hover{
    scale: 1.1;
    transition: .3s;
}
