@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#home{
    display: grid;
    grid-template-areas:
        "b . .  a"
        "b . .  a"
        "b . .  a";
}

#texto-esquerda{
    width:60%;
    height: 100vh;
    display: flex;
    grid-area: b;
    justify-content: left;
    align-items: center;
    position: absolute;
}
#texto-direita{
    display: flex;
    grid-area: a;
    align-items:right;
    justify-content:center;
    

}
#texto-direita img{
    width: 100%;
    height:90vh;
    object-fit: cover;
    max-width: 400px;
    padding-top: 2em;
    
}
p{
    font-size: 25px;
    position: relative;
    font-family: 'Open Sans';
    color: rgb(0, 0, 0);
    padding-left: 3em;
    padding-top: 0.5em;
    text-align: justify;
}

 h1{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    text-align: left;
    color: #393A3F;
    font-weight: 700;
    padding-left: 2em;
    padding-bottom: 0.5em;


}

.footer{
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    justify-content:space-between;
    align-items:flex-end;
    
}
.botoes{
    width: 200px;
    height: auto;
    padding: 30px;
}

.botoes:hover{
    scale: 1.1;
    transition: .3s;
}
