@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
#caixa{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #0096BB;
}
#texto{
    display: flex;
}
#texto p{
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 16px;
}

#titulo{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
#clica-1{
    width: 80vh;
    height: auto;
    padding: 10px;
}

#celular{
    width: 250px;
    height: auto;
}


.hidden{
    display: none;
}
.hidden p{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 15px;
    
}

.check{
    display: none;
}

#ckb:checked ~ #texto-1{
    display: block;
}
#ckb2:checked ~ #texto-2{
    display: block;
}
#ckb3:checked ~ #texto-3{
    display: block;
}

label img{
    width: 40px;
    height: auto;
}




/* RESPONSIVO */

 @media (min-width:768px) and (max-width: 992px) {
   
    #container{
        width: 80%;
        height: 80vh;
        flex-direction: column; 
        justify-content: space-between;
        align-items: center;
    } 
    
    #clica-1{
        width: 90%;
        height: auto;
    }
    .hidden{
        padding: 10px;
    }
    #celular{
        width: 150px;
        height: auto;
        position:fixed;
        margin-top: 600px;
        margin-left: 600px;
        
    }
    .botoes{
        width: 250px;
    }
}

@media screen and (max-width: 480px){
    #container{
        width: 80%;
        height: auto;
        flex-direction: column; 
        justify-content: space-between;
        align-items: center;
        position: absolute;
    } 
    
    #clica-1{
        width: 90%;
        height: auto;
    }

    label img{
        width: 20px;
        height: auto;
    }
    .hidden{
        padding: 10px;
    }
    #celular{
        width: 80px;
        height: auto;
        position: relative;
        margin-left: 270px;

    }
    .hidden p{
        font-size: 10px;
    }
    .botoes{
        width: 250px;
    }
}



/* footer */

.footer{
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    justify-content:space-between;
    align-items:flex-end;
    
}
.botoes{
    width: 100px;
    height: auto;
    padding: 30px;
}

.botoes:hover{
    scale: 1.1;
    transition: .3s;
}

