@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#home{
    background-color:#0096BB;
    display: grid;
    grid-template-areas:
        "b . .  a"
        "b . .  a"
        "b . .  a";
   
}
#texto-esquerda img{
    width:70%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    justify-content: left;
    align-items: left;
}

#texto-esquerda{
    width:100%;
    height: 100vh;
    display: flex;
    grid-area: b;
    justify-content: left;
    align-items: center;
}

#texto-direita{
    display: flex;
    grid-area: a;
    align-items: center;
    justify-content: center;
    padding: 6em;

}
#texto-direita img{
    width:100%;
    height: 70vh;
    object-fit: cover;
    position: relative;
    
    
}


p{
    font-size: 20px;
    position: relative;
    font-family: 'Open Sans';
    color: rgb(0, 0, 0);
    padding-left: 4em;
    text-align: justify;
}

 
h1{
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    text-align: left;
    color: rgb(0, 0, 0);
    font-weight: 700;
    padding-left: 3em;
    padding-bottom: 1em;

}

.footer{
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    justify-content:space-between;
    align-items:flex-end;
    
}
#botao1{

    width: 150px;
    align-items: left;
    justify-content: left;
    padding-left:5em;
    padding-bottom: 3em;
}
#botao2{
    width:  250px;
    align-items: right;
    justify-content: right;
    padding-right:5em;
    padding-bottom: 3em;
}
#barra{
    height: 100px;
    width: 80%;
    padding:1em;
    
}
#botao1:hover{
    scale: 1.1;
    transition: .3s;
}
#botao2:hover{
    scale: 1.1;
    transition: .3s;
}

