@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#home{
    background-color: #0096BB;
    display: grid;
    grid-template-areas:
        "b . .  a"
        "b . .  a"
        "b . .  a";
   
}
#texto-esquerda img{
    width:80%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    justify-content: left;
    align-items: left;
}
h1{
    font-size: 120px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    display: flex;
    color: rgb(0, 0, 0);
    padding-left: 3em;
    padding-bottom: 0.5em;

}

#texto-esquerda{
    width:100%;
    height: 100vh;
    display: flex;
    grid-area: b;
    align-items: center;
    padding: 6em;
    
   
}

#texto-direita{
    display: flex;
    grid-area: a;
    align-items: center;
    justify-content: center;
    padding: 6em;

}
#texto-direita img{
    width:100%;
    height: 70vh;
    object-fit: cover;
    position: relative;
    
    
}

p{
    font-size: 70px;
    position: relative;
    font-family: 'Open Sans';
    color: rgb(0, 0, 0);
    padding-left: 6em;
    padding-top: 1em;
    text-align: justify;
     
}

 
.footer{
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    justify-content:space-between;
    align-items:flex-end;
    
}
#botao1{
    height: 250px;
    width: 300px;
    align-items: left;
    justify-content: left;
    padding-left:7em;
    padding-bottom: 3em;
    
}
#botao2{
    width: 60%;
    width: 100%;
    align-items: right;
    justify-content: right;
    padding-right:5em;
    padding-bottom: 3em;
}
#barra{
    height: 160px;
    width: 80%;
    padding-bottom:1em;
    
}
