@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&display=swap');
*{
      padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


#home{
    width: 100%;
    height: 100vh;
    background-image: url(imagens/pag1/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-areas:
        "c . b  a"
        "c . b  ."
        "c . b  .";
   

}

#logo{
    grid-area: a;
    display: flex;
    align-items: right;
    justify-content: end;
  
}

#logo img{
    width: 300px;
    height: 200px;
    padding: 30px;
}

#texto-central{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: b;
}

#forma{
    width: 70%;
    height: 100vh;
    object-fit: cover;
    opacity: .8;
    position: absolute;
}

#titulo{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
    text-align: center;
}
#titulo h1{
    color: white;
    font-size: 120px;
    font-weight: 800;
}

#titulo h2{
    color: white;
    font-size: 60px;
    font-weight: 600;

}
#titulo h3{
    color: black;
    font-size: 60px;
    font-weight: 600;
}
#titulo-apresentacao{
    padding: 0.5em;
    font-size: 100px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    text-align: center;
    color: black;
    font-weight: bold;
}
p{
    text-align: center;
    font-size: 70px;
    position: relative;
    font-family: 'Open Sans';
    padding: 1em;
    color: black;
}

#img-apresenta{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.footer{
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    justify-content:space-between;
    align-items:flex-end;
    
}
#botao1{
    width: 80%;
    width: 100%;
    align-items: left;
    justify-content: left;
    padding-left:5em;
    padding-bottom: 3em;
}
#botao2{
    width: 80%;
    width: 100%;
    align-items: right;
    justify-content: right;
    padding-right:5em;
    padding-bottom: 3em;
}


@media (max-widh: 1166px) {
    
}